{% form_theme form 'OrkestraApplicationBundle::_form_fields_horizontal.html.twig' %}

<form class="form-horizontal no-margin" id="password" action="{{ path('orkestra_profile_password_update') }}" method="post">
    <div class="row-fluid">
        {{ form_row(form.current) }}
    </div>
    <div class="row-fluid">
        {{ form_row(form.password.first) }}
    </div>
    <div class="row-fluid">
        {{ form_row(form.password.second) }}
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>
</form>
